<!DOCTYPE html>
<html lang="en">
<head>
       {{>header}}
    
        <title>Welcome to mediS</title>
       
</head>
<body>
    <header>
        
       {{>navbar}}

        <main>
            <section>
                <h3 class="contain">Wellcome To  mediS</h3>
                <h1>you will get this <span  class="change_content"></span></h1>
                <p>"Ready to listen?"</p>
               
                <a href="/login" class="button1">Login here</a>
                <a href="/register" class="button2">signup  here</a>
            </section>
        </main>


    </header>
</body>
</html>