         <nav>
            <div>
                
            <div class="brand"><img src="aa/logo.png" alt="mymusic">  mediS </div>
        </div>
            
            <div class="menu"> 
               
               
              <h2><a href="/register" class="button3">signup</a></h2>  

            </div>
            
        </nav>