.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
body{
    
    background-image:url("back.jpg");
    background-size: cover;
       
       
   }
   
   *{
       margin: 0;
       padding: 0;
   }

   section{
       margin: 100px;
       border-radius: 14px;
       background-color: rgba(7, 5, 0, 0.2);
   }
   .harsh{
    margin: 120px;
    border-radius: 14px;
    background-color: rgba(7, 5, 0, 0.2);
   }

   .harsh3{
       color: red
    }
    span{
        color: #eee;
    }